@import url('https://fonts.googleapis.com/css?family=Russo+One');
html{
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-position: bottom;
  background-color: #bdbdbd  ;
  flex: 1 0 auto;
  min-height: 100%;
  overflow:auto;
  width: 100% ;
  background-size: 100% 100%;
}

.user-view{
  background: url(/img/admin.jpg) no-repeat;
  background-size: 100% 100%;
}

#productCard{
  max-height: 70vh;
  max-width: 70vh;
}

img{
  height:40%;
  width:100%;
}

form{
  padding: 3%;
  margin-top:6%;
}
form button, form h5{
  margin: 3% 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color:blueviolet;
  box-shadow: none;
}
#purple{
  font-family: 'Russo One', sans-serif;
  font-size: 0.9em;
  color:#5e35b1;
}
.brand-logo{
  font-family: 'Russo One', sans-serif;
  font-size: 2.3em !important;
  margin-left:2vh;
}
#links{
  margin-right:10vh;
}
h6{
  color:white;
  text-align:center;
  font-family: 'Russo One', sans-serif;
  size:2em !important;
}
#place{
  min-height:50%;
}
#buttonC{
  width:12vh;
  height:12vh;
}

#slide-out{
  top:65px;
}

 #profile{
   text-align: center;
 }
 h5{
  font-size: 1.5em !important;
  margin-top:4vh !important;
  margin-left:-2vh !important;
  font-family: 'Russo One', sans-serif;
}
h4{
  color:black;
  text-align:center !important;
  font-size:1em !important;
  font-family: 'Russo One', sans-serif;
}

.btn{
  font-family: 'Russo One', sans-serif;
}
@media only screen and (max-width: 800px) {
  .button{
    width:16vh;
    height:12vh !important;
  }
}